/* Fonts Import */
/* Google Font Link: https://fonts.google.com/share?selection.family=Poppins:wght@400;500;600;700%7CUbuntu:wght@400;500;700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* Fonts Import */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #000000;
}

.navbar{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .header-links{
    background-color: #1a1a1a;
}
.navbar .links{
    text-align: right;
}
.navbar .links li{
    list-style: none;
    display: inline-block;
    padding: 3px 0 4px 0;
}
.navbar .links li a{
    color: rgb(211, 207, 202);
    font-size: 12px;
    font-weight: 500;
    padding: 0 17px;
    
}

.navbar .logo-bar{
    box-sizing: border-box;
    height: 75px;
    padding-top: 11px;
}
.navbar .logo-bar-content{
    position: relative;
}

.navbar .logo-content{
    display: inline-block;
    width: 280px;
    height: 39px;
    vertical-align: top;
}
.navbar .logo-content a{
    float: left;
}
.navbar .nav-search{
    width: 500px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color: #0A0A0A;
    border-radius: 3px;
}
.navbar .search-box{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
}
.navbar .search-box_bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
}
.navbar .search-box_input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 13px 19px;
    /* font-family: Roboto-Regular,Helvetica,sans-serif; */
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    color: #00fff2;
    border: none;
    outline: none;
    background: #202020;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}
.navbar .search-box_search{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    line-height: 1;
}
.navbar .search-box_button{
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    background: #00fff2 url(images/search_icon.svg) 50% no-repeat;
    background-size: 22px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}
.navbar .nav-cart{
    display: inline-block;
    height: 38px;
    width: 40px;
    position: relative;
    margin: 0 0 0 20px;
}
.navbar .cart-icon{
    position: absolute;
    width: 29px;
    height: 26px;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -14px;
}
.navbar .cart-num{
    position: absolute;
    background: #000000;
    color: #00fff2;
    top: -4px;
    font-weight: 400;
    right: -7px;
    text-align: center;
    border: 5px solid #000000;
    font-size: 15px;
    min-width: 15px;
    line-height: 10px;
    border-radius: 50%;
    display: none;
    animation: rgb-txt 10s infinite alternate-reverse;
}
@keyframes rgb-txt{
    0%{color:#FF0000;}
    10%{color:#FF007F;}
    20%{color:#FF00FF;}
    30%{color:#7F00FF;}
    40%{color:#0000FF;}
    50%{color:#007FFF;}
    60%{color:#00FFFF;}
    70%{color:#00FF7F;}
    80%{color:#00FF00;}
    90%{color:#FFFF00;}
    100%{color:#ff6600;}
}
/* uncomment the following for better load times */
/* @keyframes rgb-txt{
    0%{fill:#FF0000;}
    25%{fill:#7F00FF;}
    50%{fill:#00FFFF;}
    75%{fill:#00FF00;}
    100%{fill:#FFFF00;}
} */

#Fill-1, #Fill-2, #Fill-5{
    animation: glow 10s infinite alternate-reverse;
}
@keyframes glow{
    0%{fill:#FF0000;}
    10%{fill:#FF007F;}
    20%{fill:#FF00FF;}
    30%{fill:#7F00FF;}
    40%{fill:#0000FF;}
    50%{fill:#007FFF;}
    60%{fill:#00FFFF;}
    70%{fill:#00FF7F;}
    80%{fill:#00FF00;}
    90%{fill:#FFFF00;}
    100%{fill:#ff6600;}
}
/* uncomment the following for better load times */
/* @keyframes glow{
    0%{fill:#FF0000;}
    25%{fill:#7F00FF;}
    50%{fill:#00FFFF;}
    75%{fill:#00FF00;}
    100%{fill:#FFFF00;}
} */

.navbar .nav-banner{
    width: 188px;
    height: 45px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar .nav-banner a img{
    width: 188px;
    height: 45px;
    display: block;
}